<!-- <section class="landing-section bg-black w-screen h-screen text-center relative overflow-hidden" data-header-color="white">
  <div class="relative z-30 h-full flex flex-col">
    <header>
      <h2 class="text-white pt-40 text-[40px] font-medium">Disfrute de Tesla</h2>
      <p class="text-white text-sm">Programe una pruebade conducci贸n hoy mismo.</p>
    </header>
    <footer class="flex flex-col flex-grow justify-end pb-24">
      <a class="text-white border-[3px] bg-white/5 backdrop-blur-sm border-white rounded font-medium px-12 py-2 inline-block self-center hover:text-black hover:bg-white transition-colors" href="#">Prueba de conducci贸n</a>
    </footer>
  </div>
  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <video class="object-cover object-center h-full w-full" autoplay muted loop src="/video.webm"></video>
  </div>
</section> -->

---
import Section from "./Section.astro";
---

<Section
  color="white"
  title="Disfrute de Tesla"
  subTitle="Programe una pruebade conducci贸n hoy mismo."
  isUnderlineSubTitle={true}>
  <div slot="footer">
    <a slot="footer" class="text-white border-[3px] bg-white/5 backdrop-blur-sm border-white rounded font-medium px-12 py-2 inline-block self-center hover:text-black hover:bg-white transition-colors" href="#">Prueba de conducci贸n</a>
  </div>
  <video class="object-cover object-center h-full w-full" slot="video" autoplay muted loop src="/video.webm"></video>
</Section>